.button {
  cursor: pointer;

  padding: 3px 10px;

  color: #336cfb;

  background-color: transparent;
  border: 1px solid #336cfb;
  border-radius: 5px;
}

.button:hover {
  box-shadow: 0 0 20px 0 #59c2ff;
}
