.button {
    padding: 3px 10px;
    background-color: transparent;
    border: 1px solid #336CFB;
    color: #336CFB;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 20px 0px #59c2ff;
}