.user_avatar {
    width: 150px;
    align-self: center;
    border-radius: 13% 87% 13% 87% / 85% 9% 91% 15% ;
}

.users {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 200px;
    padding: 10px;
}

.users_container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-around;
    flex-grow: 1;
    padding: 10px;
    overflow: hidden;
}

.user_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    gap: 20px;
    padding: 20px 20px 0;
    margin-bottom: 50px;
    background-color: transparent;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    border-radius: 13% 87% 13% 87% / 85% 9% 91% 15%;
    overflow: hidden;
}

.user_name {
    margin: 0;
}

.user_status {
    margin-bottom: 30px;
}
