.user_avatar {
  align-self: center;

  width: 150px;

  border-radius: 13% 87% 13% 87% / 85% 9% 91% 15%;
}

.users {
  display: flex;
  flex-flow: column;
  flex-grow: 1;

  width: 200px;
  padding: 10px;
}

.users_container {
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  gap: 20px;
  justify-content: space-around;

  padding: 10px;
}

.user_container {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: center;

  width: 250px;
  margin-bottom: 50px;
  padding: 20px 20px 0;

  background-color: transparent;
  border-radius: 10px;
  border-radius: 13% 87% 13% 87% / 85% 9% 91% 15%;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
}

.user_name {
  margin: 0;
}

.user_status {
  margin-bottom: 30px;
}
