.message {
  max-width: 600px;
  padding: 10px 15px;
}

.message__container {
  overflow: hidden;
  display: flex;
}

.message__block {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-left: 15px;
  padding: 5px 10px;

  background-color: #75bdbe;
  border-radius: 5px;
  border-bottom-left-radius: 0;
}

.message__block:before {
  content: '';

  position: absolute;
  bottom: -1px;
  left: -20px;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 0 3px #75bdbe;
}

.message__name_text {
  display: flex;
  flex-direction: column;

  margin-right: 5px;
}

.message__avatar {
  align-self: flex-end;

  width: 40px;
  height: 100%;

  border-radius: 50%;
}

.message__time {
  align-self: flex-end;

  font-size: 10px;
}

.message__name {
  color: #9168de;
}

.message__text {
}
