.person_dialog {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 5px 20px;

  color: #52575c;
  text-decoration: none;

  border-radius: 5px;
}

.avatar {
  width: 40px;
}

.name {
}

.person_dialog:hover {
  color: #336cfb;

  background-color: #f4fbff;
}

.active {
  color: #336cfb;

  background-color: transparent;
}
