.messages_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.header {
    height: 80px;
    border-bottom: 1px solid #F6F8FB;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
}

.input_container {
    display: flex;
    gap: 15px;
    padding: 15px;
    height: 80px;
    border-top: 1px solid #F6F8FB;
    box-sizing: border-box;
}

.input_textarea {
    flex-grow: 1;
}