.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: fit-content;
    padding: 20px 5px;
    box-sizing: border-box;
}

.link {
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #52575C;
}

.link:hover {
    color: #336CFB;
    background-color: #f4fbff;
}

.active {
    color: #336CFB;
    background-color: transparent;
}