.control textarea {
  box-sizing: border-box;

  list-style: none;

  border: 2px solid transparent;
  outline: 0;
}

.control_error textarea {
  border: 2px solid red;
}

.control_error input {
  border: 2px solid red;
}

.error_message {
  color: red;
}
