body {
  padding: 20px;

  background-color: #f6f8fb;
}
ul {
  list-style-type: none;
}

.shadow_section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 12px 26px rgba(16, 30, 115, 0.06);
}

.App {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.star {
  cursor: pointer;

  display: inline-block;

  width: 20px;
  height: 20px;
  padding: 5px;

  fill: #bbbbbb;
}

.selected {
  fill: #5f8120;
}

.accordion {
  width: 10%;
  height: 150px;
  padding: 10px;

  border: 2px solid #5f8120;
  border-radius: 10px;
}
