.App {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    padding-top: 50px;
}

.star {
    padding: 5px;
    cursor: pointer;
}

.accordion {
    background: aquamarine;
    width: 10%;
    height: 150px;
}
